body{

background:#08111f;

color:white;

font-family:Arial;

text-align:center;

padding:40px;

}


button,select{

padding:15px;

margin:10px;

font-size:18px;

border-radius:10px;

}


.hidden{

display:none;

}


#career{

background:#111827;

padding:30px;

border-radius:20px;

}


.event{

background:#1b75ff;

padding:15px;

margin:10px;

border-radius:10px;

}
